main section {
    display: flex;
    align-items: center;
    font-size:30px ;
    padding: 20px ;
    gap: 
    margin-left: 20px;
    margin: 30px;
}

img{
    width: 500px;
    border-radius:2vh ;
    margin-left: 40px   ; 
 }

    
 main {
    background-color: aquamarine;
}
/* .mim { padding: 10px; */

button:hover{
color: black; background-color: rgb(209, 223, 197);
}
button{
    background-color: rgb(11, 29, 29);
    color: #e7e7e7;
    border: 2px #c51010;
    padding: 10px;
    border-radius: 5px;
}
p{
    margin-bottom:  10px;
    font-size: 40px;
}
