body{
    max-width: 1500;
    margin: 150px 150px 150x 150x;
}
.card1 img{
    width: 100%;
    /* box-shadow: 0cqmax 0px 3px rgb(0, 0, 0); */
    /* border: 1px solid; */
    
}
.card{
    /* width: 300px;
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    font-size: 25px; */
}
.mim{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.card button{
    font-size: 20px;
    background-color: rgb(86, 92, 92);
    color: #e7e7e7;
    border: 2px #c51010;
    padding: 10px;
    border-radius: 5px;
}
.card button:hover{
    background-color: rgb(149, 160, 156);
}
.card1{
    border: 1px solid;
    margin: 15px;
    padding: 15px;
    width: 300px;
}

.card{
    display: flex;
    flex-wrap: wrap;
}