header nav ul{
    list-style: none;
    display: flex;
    
}
li a{
    text-decoration: none;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav li{
    margin-right: 10px;
    /* border: 1px solid; */
    padding: 2px;
    box-shadow: 0px 0px 4cm gold;
    background-color: rgb(155, 181, 216);
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
   
}
nav li:hover{
color: rgb(0, 15, 26);
background-color: rgba(53, 116, 175, 0.397);


}
header{
    background-color: rgb(54, 92, 216);
    padding: 1px;
    box-shadow: 0px 0px 10px;
}